version: '2.4'

# environmental variables *for Docker Compose* will be loaded from a `.env` file
# in the same directory as this file

services:
  # home automation
  homeassistant:
    image: lscr.io/linuxserver/homeassistant:2024.12.1-ls54  # current
    # hostname: hass
    container_name: hass
    environment:
        - PUID=${PUID}
        - PGID=${PGID}
        - TZ=${TZ}
        - DOCKER_MODS=linuxserver/mods:homeassistant-hacs
    volumes:
    #   - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${DOCKER_USERDIR}/volumes/homeassistant:/config
    # devices:
    #     - /path/to/device:/path/to/device  # Z-wave, etc
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.home-assistant-service.loadbalancer.server.port=8123
      - traefik.http.services.home-assistant-service.loadbalancer.server.scheme=http
      - traefik.http.routers.home-assistant.service=home-assistant-service
      - traefik.http.routers.home-assistant-secure.service=home-assistant-service

      - traefik.http.routers.home-assistant.rule=Host("ha.${PUBLIC_DOMAIN_NAME}")
      - traefik.http.routers.home-assistant.entrypoints=web
      - traefik.http.routers.home-assistant.middlewares=home-assistant-to-https

      - traefik.http.routers.home-assistant-secure.rule=Host("ha.${PUBLIC_DOMAIN_NAME}")
      - traefik.http.routers.home-assistant-secure.entrypoints=websecure
      - traefik.http.routers.home-assistant-secure.tls=true
      - traefik.http.routers.home-assistant-secure.tls.certresolver=myresolver
      
      - traefik.http.middlewares.home-assistant-to-https.redirectscheme.scheme=https
      - traefik.http.middlewares.home-assistant-to-https.redirectscheme.permanent=true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://192.168.1.221:8123"]
      interval: "30s"
      timeout: "10s"
      retries: 4
    depends_on:
      - db
    links:
      - db
    networks:
      default:
        ipv4_address: "192.168.1.221"
      proxy:
      # Home Assistant needs to be on the "proxy" network, as that's the one that Traefik has been set up to listen on

  db:
    image: lscr.io/linuxserver/mariadb:latest
    hostname: hass_db
    # container_name: mariadb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=homeassistant
      - MYSQL_USER=homeassistant
      - MYSQL_PASSWORD=${MYSQL_USER_PASSWORD}
    volumes:
      - ${DOCKER_USERDIR}/volumes/homeassistant-db:/config
    ports:
      - 3306:3306
    restart: unless-stopped

  # used for SleepAsAndriod integration 
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    hostname: mqtt
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    user: ${PUID}:${PGID}
    volumes:
      # - ${DOCKER_USERDIR}/volumes/mosquitto:/mosquitto
      - ${DOCKER_USERDIR}/volumes/mosquitto/config:/mosquitto/config:ro
      - ${DOCKER_USERDIR}/volumes/mosquitto/data:/mosquitto/data
      - ${DOCKER_USERDIR}/volumes/mosquitto/log:/mosquitto/log
    ports:
      - 1883:1883
      # - 8883:8883  # secure
      - 9001:9001  # websocket
    restart: unless-stopped
    networks:
      - proxy

  zwave-js-ui:
    image: zwavejs/zwave-js-ui:9
    container_name: zwave-js-ui
    hostname: zwave
    environment:
      - SESSION_SECRET=mysupersecretkey
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      # Uncomment if you want logs time and dates to match your timezone instead of UTC
      # Available at https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
      - TZ=${TZ}
      - HTTPS=true
    volumes:
      - ${DOCKER_USERDIR}/volumes/zwave-js-ui:/usr/src/app/store
    ports:
      - '9978:8091' # port for web interface
      - '9979:3000' # port for Z-Wave JS websocket server
    devices:
      # Do not use /dev/ttyUSBX serial devices, as those mappings can change over time.
      # Instead, use the /dev/serial/by-id/X serial device for your Z-Wave stick.
      - /dev/serial/by-id/usb-0658_0200-if00:/dev/zwave
    tty: true
    healthcheck:
      # test: wget --no-verbose --spider --no-check-certificate --header "Accept: text/plain" https://localhost:8091/health || exit 1
      test: ["CMD", "curl", "-f", "https://localhost:8091/health"]
      interval: 1m
      timeout: 10s
      start_period: 30s
      retries: 3
    restart: unless-stopped
    stop_signal: SIGINT
    networks:
      - proxy  # for access to web UI

  matter:
    image: ghcr.io/home-assistant-libs/python-matter-server:stable
    hostname: matter
    volumes:
      - ${DOCKER_USERDIR}/volumes/matter:/data
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    networks:
      default:
        ipv4_address: "192.168.1.193"
      proxy:
    # --security-opt apparmor=unconfined \

  spoolmam:
    image: ghcr.io/donkie/spoolman:latest
    hostname: spoolman
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${DOCKER_USERDIR}/volumes/spoolmam:/home/app/.local/share/spoolman
    ports:
      - '9986:8000'
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.spoolman.rule=Host("spoolman.${LOCAL_DOMAIN_NAME}")
      - traefik.http.routers.spoolman.entrypoints=web
      - traefik.http.routers.spoolman.middlewares=spoolman-to-https

      - traefik.http.routers.spoolman-secure.rule=Host("spoolman.${LOCAL_DOMAIN_NAME}")
      - traefik.http.routers.spoolman-secure.entrypoints=websecure
      - traefik.http.routers.spoolman-secure.tls=true

      - traefik.http.middlewares.spoolman-to-https.redirectscheme.scheme=https
      - traefik.http.middlewares.spoolman-to-https.redirectscheme.permanent=true
    networks:
      - proxy  # for access to web UI


networks:
  default:
    external:
      name: meta_vlan
  proxy:
    external:
      name: meta_external

