version: '2.4'

# environmental variables *for Docker Compose* will be loaded from a `.env` file
# in the same directory as this file

services:

  vscode:
    image: lscr.io/linuxserver/code-server
    container_name: vscode
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PASSWORD=${VSCODE_PASSWORD}
      # - SUDO_PASSWORD=password #optional 
    volumes:
      - ${DOCKER_USERDIR}/volumes/code-server-lsio:/config
      # - ${DOCKER_USERDIR}/sorbonne:/config/docker/sorbonne
      - ${DOCKER_USERDIR}/build:/config/docker/build
      - ${DOCKER_USERDIR}/compose:/config/docker/compose
      - ${DOCKER_USERDIR}/volumes/homeassistant:/config/docker/volumes/homeassistant
      - ${DOCKER_USERDIR}/volumes/homeassistant.old:/config/docker/volumes/homeassistant.old
      - ${DOCKER_USERDIR}/volumes/rsnapshot:/config/docker/volumes/rsnapshot
      - ${DOCKER_USERDIR}/volumes/traefik:/config/docker/volumes/traefik
      - ${DOCKER_USERDIR}/volumes/unifi/data/sites/default:/config/docker/volumes/unifi
      - ${DOCKER_USERDIR}/volumes/mosquitto/config:/config/docker/volumes/mosquitto
      # - ${DOCKER_USERDIR}/volumes/ngircd:/config/docker/volumes/ngircd
      # - ${DOCKER_USERDIR}/volumes/thelounge:/config/docker/volumes/thelounge
      # - ${DOCKER_USERDIR}/volumes/rutorrent:/config/docker/volumes/rutorrent
      # - ${DOCKER_USERDIR}/volumes/minecraft:/config/docker/volumes/minecraft
      - ${DOCKER_USERDIR}/volumes/samba/:/config/docker/volumes/samba
      - ${DOCKER_USERDIR}/volumes/forgejo-runner/:/config/docker/volumes/forgejo-runner
      # - ${DOCKER_USERDIR}/volumes/shared:/shared
      - ${DOCKER_USERDIR}/backup:/config/docker/backup
    ports:
      # - 9934:8443
      - 9911:8443
    labels:
      # coder.com version doesn't work as either a subdomain or a folder with traefik
      # - traefik.enable=false
      - traefik.enable=true
      - traefik.http.routers.vscode.rule=Host("code.${LOCAL_DOMAIN_NAME}")
      - traefik.http.routers.vscode.entrypoints=web
      - traefik.http.routers.vscode.middlewares=vscode-to-https

      - traefik.http.routers.vscodesecure.rule=Host("code.${LOCAL_DOMAIN_NAME}")
      - traefik.http.routers.vscodesecure.entrypoints=websecure
      - traefik.http.routers.vscodesecure.tls=true
      # - traefik.http.routers.vscodesecure.tls.certresolver=myresolver
      
      - traefik.http.middlewares.vscode-to-https.redirectscheme.scheme=https
      - traefik.http.middlewares.vscode-to-https.redirectscheme.permanent=true

networks:
  default:
    external:
      name: meta_external
